@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}
ul,
a {
  list-style-type: none;
  text-decoration: none;
}

/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
  
}

.nav-list {
  display: none;
}

.nav-list li a {
  color: darkgrey;
}
.request-btn{
    display: none;
}

@media (min-width: 800px) {
  .nav-list {
    display: flex;
    gap: 1rem;
  }
  .hamburger-icon {
    display: none;
  }

  .request-btn {
    display: inline;
    width: 166px;
    height: 46px;
    border: none;
    border-radius: 33px;
    color: white;
    background: linear-gradient(to left, #30d35c, #2ab6d9);
  }
}


/* Hero section */
.hero-bg{
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: 690px;
    z-index: -1;
    position: relative;
}

.hero-bg img{
    width: 650px;
    margin-top: -230px;
   position: relative;
}

